*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    padding: 20px;
    position: relative;
    background: transparent;
}

.show-box {
    float: left;
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    overflow: hidden;
}

/* pendulum */
.p-block {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.p-spot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #333;
}

.p-stick-wrap {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: tranparent;
    transform: rotate(90deg);
}

.p-stick {
    position: relative;
    top: 45%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 125px solid #69B0AC;
    border-bottom-left-radius: 125px;
    border-bottom-right-radius: 125px;
}
/* end of pendulum */

/* simple flip board */
.sfb-block {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    perspective: 1000px;
}

.sfb-block > div {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 90%;
    height: 50%;
    background-color: #eee;
}

.sfb-lower {
    z-index: 1;
}

.sfb-upper {
    transform: rotateX(0);
    transform-origin: bottom;
    transition: background-color 1.2s, transform 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 2;
}

.sfb-block:hover .sfb-upper {
    background-color: #ddd;
    transform: rotateX(-180deg);
}
/* end of simple flip board */
