*,
*:before,
*:after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 25px;
	margin: 12px 0 17px 0;
}

.hide {
	display: none;
}

.select {
	background-color: #ccc;
}

.clearfix::before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

#app-container {
	margin: 100px auto;
	padding: 10px;
	width: 480px;
	height: 420px;
	border: 1px solid #ccc;
}

/* Input */
#edit {
	position: relative;
	width: 100%;
	min-height: 30px;
}

#city-edit {
	width: 250px;
}

.btn-wrapper {
	float: right;
}

#suggest {
	margin-top: 5px;
	width: 100%;
	height: 70px;
	overflow: auto;
	border: 1px solid #333;
}

#suggest li {
	cursor: pointer;
	padding: 5px;
}

#suggest li:hover {
	background-color: #ccc;
}


/* City list */
#list h3 {
	margin: 13px 0 7px 0;
}

#cities {
	border: 1px solid #333;
	width: 100%;
	height: 110px;
	overflow: auto;
}

.city {
	padding: 5px;
}

.city:hover {
	background-color: #ccc;
	cursor: pointer;
}

.remove {
	float: right;
}

.remove:hover {
	color: #fff;
}

/* weather info */
#result ul {
	margin: 15px 0 25px 0;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
}

#result ul li{
	padding: 5px 8px;
	float: left;
	width: 28%;
	border-right: 1px solid #ccc;
}

#result ul li:last-child {
	width: 44%;
	border-right: none;
}

#result ul img {
	float: left;
}

/* footer */
#footer {
	font-size: 13px;
}
