.calendar {
    .calendar-date-view {
        @include size(100%);
    }

    .calendar-weekday-header {
        @extend %clearfix;
        text-align: center;
        text-transform: uppercase;
        opacity: .8;

        & > li {
            float: left;
        }
    }

    .calendar-day {
        position: relative;
        text-align: center;

        span {
            @extend %center;
            @include rounded(100%);
            @include prefix(transition, #{color 0.3s $cubic}, webkit moz);
            margin: 0 auto;
            z-index: 10;
        }

        span:before {
            @extend %center;
            @include size(0);
            @include rounded(100%);
            @include prefix(transition, #{all 0.45s $cubic}, webkit moz);
            content: "";
            background: $hoverColor;
            opacity: 0;
            z-index: -1;
        }

        &:hover {
            cursor: pointer;
        }

        &.selected span,
        &:hover span {
            color: $white
        }

        &.selected span:before {
            @include prefix(transition, 0, webkit moz);
            @include size(100%);
            background: $highlightColor;
            opacity: 1;
        }

        &:hover span:before {
            @include size(100%);
            opacity: 1;
        }
    }

    .calendar-today {
        span {
            color: $blueGreen;
        }
    }

    .calendar-prev-month-day,
    .calendar-next-month-day {
        span {
            color: $grey;
        }
    }
}
