// Reset
.calendar {
    margin: 0 auto;
    position: relative;
    max-width: 768px;
    font-size: $fontSizeSmall;
    font-family: $openSans;
    font-weight: normal;
    box-sizing: border-box;
    opacity: 1;

    * {
        @include prefix(user-select, none, webkit moz ms);
        box-sizing: border-box;
        font-size: $fontSizeSmall;
    }

    ul, ol, dl {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    h1, h2, h3 {
        margin: 0;
        font-size: $fontSize;
    }

    .calendar-pane {
        position: relative;
        padding: 0 $wrapPadding;
    }

    .calendar-view-wrap {
        position: relative;
        overflow: hidden;
    }

    .calendar-prev-view,
    .calendar-curr-view,
    .calendar-next-view {
        @include size(100%);
        @include prefix(transition, #{transform, .4s $cubic}, webkit moz);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
    }

    .calendar-prev-view {
        @include prefix(transform, translateX(-100%), webkit moz);
    }

    .calendar-next-view {
        @include prefix(transform, translateX(100%), webkit moz);
    }
}
