.dashboard {
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-width: 960px;
    background-color: $lightGrey;
}

.db-main {
    position: relative;
    margin-top: $topNavHeight;
    padding: 20px 5%;
    @include size(100%);

    & > section {
        width: 100%;
    }
}

.db-section {
    margin-bottom: 20px !important;
}

.db-item {
    margin-bottom: 10px !important;
}

@import '_topnav.scss';
@import '_dbsearch.scss';
@import '_dbstats.scss';
