.rank-pane {
    height: 100%;
}

& .rank-table {
    & .table-header:first-child {
        width: 15%;
    }
    & .table-header:nth-child(2) {
        width: 25%;
    }

    & .table-header:last-child {
        width: 60%;
    }

    & .table-cell {
        position: relative;
    }

    & .trend-index {
        height: 100%;
    }

    & .trend-index,
    & .trend-bar {
        display: block;
    }
}

.content-row:hover {
    cursor: pointer;
    background: $whiteGrey;
}

.trend-index {
    width: 26%;
    text-align: right;
}

.trend-bar {
    position: absolute;
    right: 0;
    top: 50%;
    @include size(74%, 4px);
    @include prefix(transform, translateY(-50%), webkit moz);

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 16px;
        height: 100%;
    }

    &:before {
        right: 16px;
        background: $lightGrey;
    }
}

.content-row {
    &:first-child .trend-bar:after,
    &:nth-child(2) .trend-bar:after,
    &:nth-child(3) .trend-bar:after {
        background: $red;
    }

    &:nth-child(4) .trend-bar:after {
        background: $orange;
    }

    &:nth-child(5) .trend-bar:after {
        background: $yellow;
    }

    & .trend-bar:after {
        background: $blue;
    }
}

@include bar(85, 30, 5);
