.db-query {
    background: none;
    margin: 0 auto;
    width: 100%;
}

.db-query-history { }

.db-query-form {
    background-color: $milk;
    @extend %blue-top-border;
}

.db-query-history {
    height: 72px;
}

.query-form-board {
    margin-right: 2%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.query-item {
    position: relative;
    padding: 16px 8px;

    & .select-group {
        display: inline-block;
        vertical-align: middle;
    }

    & .exchange-button {
        display: inline-block;
        vertical-align: middle;
        @include prefix(transform, rotate(90deg), webkit moz);
        font-size: $fontSizeLarge;
        color: $lightGrey;
        background: none;

        &:hover {
            color: $darkGrey;
        }

        &:hover + .tooltips {
            display: inline-block;
        }
    }

    & .tooltips {
        position: absolute;
        top: 10px;
        right: 0;
        @include rounded(2px);
        padding: 5px;
        background: $darkGrey;
        color: $white;
        vertical-align: middle;
        display: none;
        font-size: $fontSizeSmall;
    }
}

label[for="input-date"],
label[for="select-duration"],
label[for="select-people"],
label[for="select-sold"] {
    min-width: 90px;
}

.hour-history,
.hour-history-sequence {
    height: 100%;
    background: none;
}

.seq-item-wrap {

    &:hover {
        @extend %blue-top-border;
    }

    &.seq-item-selected {
        @extend %blue-top-border;
    }
}

.seq-item {
    @include size(16.66667%, 100%);
    padding-left: 8px;
    text-transform: uppercase;
    text-align: center;

    &:last-child {
        padding-right: 8px;
    }

    & .seq-item-wrap {
        background-color: $milk;
        @include size(100%);
        display: block;
    }

    & .seq-item-text {
        @include size(100%, 35px);
        line-height: 35px;
    }
}

.time-am:after {
    content: " am";
}

.time-pm:after {
    content: " pm";
}

.seq-item-price {
    vertical-align: middle;
}

.seq-item-price-value {
    font-size: $fontSizeXXLarge;
    color: $orange;
}

.seq-item-price-icon {
    color: $lightGrey;
    font-size: $fontSize;
}

.icon-cny {
    @extend %fa;

    &:before {
        content: "\f157";
    }
}

.history-query {
    padding-left: 8px;
    height: 100%;

    & .search-history {
        display: inline-block;
        @include size(100%);
        font-size: $fontSize;
        background-color: $milk;
        text-align: center;
        vertical-align: middle;
        line-height: 72px;
    }

    & .fa {
        margin-right: 10px;
        font-size: 2.75em;
        color: $headerColor;
        vertical-align: middle;
    }
}
