.db-query {
    background-color: $milk;
    margin: 0 auto;
    width: 100%;
}

.db-query-form {

}

.db-query-history {

}

.query-form-board {
    width: 88%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.query-item {
    position: relative;
    padding: 15px 10px;
}
