#slider-wrap {
    margin: 20px auto;
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 2500px;
    height: 300px;
    position: absolute;
}

.slider-item {
    width: 500px;
    height: 300px;
    float: left;
    margin: 0;
}

.slider-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -42px;
}

.slider-indicator i[image-ind]{
    width: 10px;
    height: 10px;
    border: 1px solid #FFF;
    border-radius: 10px;
    float: left;
    margin-right: 5px;
    opacity: 0.9;
}

.show {
    background-color: #FFF;
}