#datetime {
    text-align: center;
}

#datetime>h1 {
    font-size: 6.1em;
}

#datetime>h2 {
    font-size: 1.3em;
}

.weather-info {
    font-size: 4em;
    text-align: center;
}

.weather-info h3 {
    font-size: 1.4em;
}

.weather-info .today h3 {
    font-size: 1.8em;
}

.c-symbol {
    font-size: .7em;
}

#actionbar {
    position: fixed;
    bottom: .5em;
    right: 1.0em;
}

#actionbar a {
    font-size: 2.2em;
    color: #777;
    text-decoration: none;
}

#actionbar a:hover {
    color: #000;
}