@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.row, .clearfix {
  *zoom: 1; }
  .row:before, .clearfix:before, .row:after, .clearfix:after {
    content: " ";
    display: table; }
  .row:after, .clearfix:after {
    clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none;
  color: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  overflow: hidden; }

.col {
  float: left;
  min-height: 1px; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 100%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-3-3 {
  width: 100%; }

.col-1-4 {
  width: 25%; }

.col-2-4 {
  width: 50%; }

.col-3-4 {
  width: 75%; }

.col-4-4 {
  width: 100%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-5-5 {
  width: 100%; }

html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  min-width: 640px; }

html,
body,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  position: relative;
  padding-top: 50px;
  width: 100%;
  min-width: 1200px;
  height: 100%; }

.button {
  background-color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px; }

.search-button {
  padding: 6px 12px;
  background: #2189C0;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .search-button .search-button:active {
    -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5); }

.item-title {
  padding: 16px 0 16px 16px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
  .item-title .item-title-icon:before {
    margin-left: 4px;
    margin-right: 8px; }

.item-title-peer {
  display: none; }
  .item-title-peer[type=checkbox] ~ .item-title .item-title-arrow {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0); }
  .item-title-peer[type=checkbox] ~ .nav-list {
    display: none; }
  .item-title-peer[type=checkbox]:checked ~ .item-title {
    color: #FFF; }
    .item-title-peer[type=checkbox]:checked ~ .item-title .item-title-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg); }
  .item-title-peer[type=checkbox]:checked ~ .nav-list {
    display: block; }

.nav-list .nav-list-item {
  padding-left: 16px; }

.nav-list .item-title:hover {
  color: #FFF; }

.nav-folder-list .item-title-peer[type=checkbox]:checked ~ .item-title .item-title-icon:before {
  content: '\f07c'; }

.select-wrap {
  padding: 4px 0;
  display: block; }
  .select-wrap > label {
    padding: 0 8px;
    height: 100%;
    width: 70px;
    line-height: 1.25;
    display: inline-block;
    text-align: right; }
  .select-wrap > .select {
    width: 100px;
    height: 100%; }

.logo {
  float: left;
  margin-left: 3%;
  margin-right: 10px;
  font-size: 40px;
  text-align: center;
  color: #fff; }
  .logo a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block; }

.search {
  width: 20%;
  height: 100%;
  float: right;
  line-height: 50px; }

.search-form {
  position: relative;
  width: 100%;
  height: 100%; }
  .search-form label {
    position: absolute;
    top: 0;
    left: 10px;
    color: #D3D3D3; }

#search-input {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  width: 100%;
  height: 28px;
  padding: 5px 15px 5px 35px;
  outline: none;
  border: none; }

.login {
  float: right;
  margin-left: 1%;
  margin-right: 8%;
  line-height: 50px;
  color: #fff; }
  .login a {
    vertical-align: middle; }
  .login .fa {
    margin-right: 4px; }

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background-color: #2189C0;
  z-index: 9999; }

.aside {
  max-width: 360px;
  min-width: 240px;
  height: 100%;
  background-color: #2B2E3D;
  overflow: auto; }
  .aside .sidebar {
    position: relative;
    margin-bottom: 20px; }

.profile {
  color: #fff;
  padding: 35px 20px 0; }

.user-avatar {
  text-align: center; }
  .user-avatar .inner {
    display: inline-block;
    vertical-align: middle; }
  .user-avatar .username {
    text-transform: uppercase;
    font-size: 16px; }
  .user-avatar .avatar-border {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #FCFCFC;
    overflow: hidden; }
  .user-avatar .avatar {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }

.user-stat {
  margin-top: 15px; }
  .user-stat .user-stat-count {
    text-align: center; }
    .user-stat .user-stat-count:first-child {
      border-right: 1px solid #D3D3D3; }
    .user-stat .user-stat-count span {
      display: block;
      line-height: 1.25; }
    .user-stat .user-stat-count .user-stat-text {
      color: #D3D3D3; }

.catalog {
  color: #D3D3D3;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.catalog-list .catalog-list-item {
  padding-left: 30px !important; }
  .catalog-list .catalog-list-item:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.dashboard {
  position: relative;
  margin: 0 auto;
  height: 100%;
  min-width: 960px;
  background-color: #D3D3D3; }

.db-main {
  position: relative;
  margin-top: 33px;
  padding: 20px 4%;
  width: 100%;
  height: 100%; }
  .db-main > section {
    width: 100%; }

.db-section {
  margin-bottom: 20px !important; }

.db-item {
  margin-bottom: 10px !important; }

.top-catalog-directory-nav {
  width: 100%;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  line-height: 33px;
  background-color: #FCFCFC;
  overflow: auto; }
  .top-catalog-directory-nav ul {
    height: 100%; }

.directory-link {
  position: relative;
  float: left; }
  .directory-link a {
    padding: 0 6px 0 12px;
    display: block;
    width: 100%;
    height: 100%;
    color: #2B2E3D; }
  .directory-link a:hover {
    color: #2189C0; }
  .directory-link:last-child a {
    color: #2189C0; }
  .directory-link + .directory-link:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "/"; }

.db-query {
  background-color: #FCFCFC;
  margin: 0 auto;
  width: 100%; }

.db-query-form {
  border-top: 4px solid #2189C0; }

.query-form-board {
  margin-right: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.query-item {
  position: relative;
  padding: 16px 8px; }
  .query-item .select-group {
    display: inline-block;
    vertical-align: middle; }
  .query-item .exchange-button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 16px;
    color: #D3D3D3;
    background: none; }
    .query-item .exchange-button:hover {
      color: #2B2E3D; }
    .query-item .exchange-button:hover + .tooltips {
      display: inline-block; }
  .query-item .tooltips {
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    background: #2B2E3D;
    color: #FFF;
    vertical-align: middle;
    display: none;
    font-size: 12px; }

label[for="input-date"],
label[for="select-duration"],
label[for="select-people"],
label[for="select-sold"] {
  min-width: 90px; }
