@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.row, .clearfix {
  *zoom: 1; }
  .row:before, .clearfix:before, .row:after, .clearfix:after {
    content: " ";
    display: table; }
  .row:after, .clearfix:after {
    clear: both; }

.icon-cny {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.db-query-form, .seq-item-wrap:hover, .seq-item-wrap.seq-item-selected {
  -webkit-box-shadow: inset 0 3px 0 0 #2189C0;
  -moz-box-shadow: inset 0 3px 0 0 #2189C0;
  box-shadow: inset 0 3px 0 0 #2189C0; }

.turnover-data.blue {
  -webkit-box-shadow: inset 3px 0 0 0 #2189C0;
  -moz-box-shadow: inset 3px 0 0 0 #2189C0;
  box-shadow: inset 3px 0 0 0 #2189C0; }

.turnover-data.green {
  -webkit-box-shadow: inset 3px 0 0 0 #27D088;
  -moz-box-shadow: inset 3px 0 0 0 #27D088;
  box-shadow: inset 3px 0 0 0 #27D088; }

.turnover-data.red {
  -webkit-box-shadow: inset 3px 0 0 0 #DB5D6A;
  -moz-box-shadow: inset 3px 0 0 0 #DB5D6A;
  box-shadow: inset 3px 0 0 0 #DB5D6A; }

.turnover-data.yellow {
  -webkit-box-shadow: inset 3px 0 0 0 #FFC300;
  -moz-box-shadow: inset 3px 0 0 0 #FFC300;
  box-shadow: inset 3px 0 0 0 #FFC300; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none;
  color: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  overflow: hidden; }

.col {
  float: left;
  min-height: 1px; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 100%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-3-3 {
  width: 100%; }

.col-1-4 {
  width: 25%; }

.col-2-4 {
  width: 50%; }

.col-3-4 {
  width: 75%; }

.col-4-4 {
  width: 100%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-5-5 {
  width: 100%; }

html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2B2E3D;
  width: 100%;
  height: 100%;
  min-width: 1366px; }

html,
body,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  position: relative;
  padding-top: 50px;
  width: 100%;
  min-width: 1366px;
  height: 100%; }

.button {
  background-color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px; }

.search-button {
  padding: 6px 12px;
  background: #2189C0;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.angle-button {
  position: relative;
  padding: 0 8px;
  height: 100%;
  display: block;
  font-size: 2.5em;
  line-height: 1.9;
  color: #DCDCDC;
  vertical-align: middle;
  text-align: center; }
  .angle-button:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .angle-button:hover {
    color: #2B2E3D; }
  .angle-button.fa-angle-left {
    float: left; }
  .angle-button.fa-angle-right {
    float: right; }

.item-title {
  padding: 16px 0 16px 16px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
  .item-title .item-title-icon:before {
    margin-left: 4px;
    margin-right: 8px; }

.item-title-peer {
  display: none; }
  .item-title-peer[type=checkbox] ~ .item-title .item-title-arrow {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0); }
  .item-title-peer[type=checkbox] ~ .nav-list {
    display: none; }
  .item-title-peer[type=checkbox]:checked ~ .item-title {
    color: #FFF; }
    .item-title-peer[type=checkbox]:checked ~ .item-title .item-title-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg); }
  .item-title-peer[type=checkbox]:checked ~ .nav-list {
    display: block; }

.nav-list .nav-list-item {
  padding-left: 16px; }

.nav-list .item-title:hover {
  color: #FFF; }

.nav-folder-list .item-title-peer[type=checkbox]:checked ~ .item-title .item-title-icon:before {
  content: '\f07c'; }

.select-wrap {
  padding: 4px 0;
  display: block; }
  .select-wrap > label {
    padding: 0 8px;
    height: 100%;
    width: 70px;
    display: inline-block;
    text-align: right; }
  .select-wrap > .select {
    width: 100px;
    height: 100%; }

.table {
  table-layout: fixed;
  width: 100%;
  height: 100%; }
  .table,
  .table .table-row,
  .table .table-header,
  .table .table-cell {
    border: 1px solid #DCDCDC;
    text-align: center; }
  .table .table-header {
    font-weight: bold; }
  .table .table-header,
  .table .table-cell {
    line-height: 2;
    word-wrap: break-word; }

.tab-wrap {
  margin: 0 auto;
  position: relative; }

.tab {
  position: absolute;
  top: 34px;
  left: 0;
  display: block;
  border: 2px solid #DCDCDC;
  width: 100%;
  height: calc(100% - 34px);
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .tab > label {
    position: absolute;
    left: -2px;
    top: -34px;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
    .tab > label:hover {
      cursor: pointer; }
  .tab > .tab-pane {
    padding: 14px;
    width: 100%; }
  .tab:nth-child(2) > label {
    left: 88px; }
  .tab:nth-child(3) > label {
    left: 178px; }
  .tab:nth-child(4) > label {
    left: 268px; }
  .tab:nth-child(5) > label {
    left: 358px; }

input[name="tab-nav"] {
  display: none; }
  input[name="tab-nav"] ~ label {
    width: 86px;
    height: 34px;
    background: #DCDCDC;
    color: #2B2E3D;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border: none;
    border-top: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC; }
  input[name="tab-nav"] ~ .tab-pane {
    display: none; }
  input[name="tab-nav"]:checked ~ label {
    background: #FCFCFC; }
  input[name="tab-nav"]:checked ~ .tab-pane {
    display: block; }

.logo {
  float: left;
  margin-left: 3%;
  margin-right: 10px;
  font-size: 40px;
  text-align: center;
  color: #fff; }
  .logo a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block; }

.search {
  width: 20%;
  height: 100%;
  float: right;
  line-height: 50px; }

.search-form {
  position: relative;
  width: 100%;
  height: 100%; }
  .search-form label {
    position: absolute;
    top: 0;
    left: 10px;
    color: #DCDCDC; }

#search-input {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  width: 100%;
  height: 28px;
  padding: 5px 15px 5px 35px;
  outline: none;
  border: none; }

.login {
  float: right;
  margin-left: 1%;
  margin-right: 8%;
  line-height: 50px;
  color: #fff; }
  .login a {
    vertical-align: middle; }
  .login .fa {
    margin-right: 4px; }

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1366px;
  min-height: 50px;
  background-color: #2189C0;
  z-index: 9999; }

.aside {
  width: 280px;
  height: 100%;
  background-color: #2B2E3D;
  overflow: auto; }
  .aside .sidebar {
    position: relative;
    margin-bottom: 20px; }

.profile {
  color: #fff;
  padding: 35px 20px 0; }

.user-avatar {
  text-align: center; }
  .user-avatar .inner {
    display: inline-block;
    vertical-align: middle; }
  .user-avatar .username {
    text-transform: uppercase;
    font-size: 16px; }
  .user-avatar .avatar-border {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #FCFCFC;
    overflow: hidden; }
  .user-avatar .avatar {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }

.user-stat {
  margin-top: 15px; }
  .user-stat .user-stat-count {
    text-align: center; }
    .user-stat .user-stat-count:first-child {
      border-right: 1px solid #DCDCDC; }
    .user-stat .user-stat-count span {
      display: block;
      line-height: 1.25; }
    .user-stat .user-stat-count .user-stat-text {
      color: #DCDCDC; }

.catalog {
  color: #DCDCDC;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.catalog-list .catalog-list-item {
  padding-left: 30px !important; }
  .catalog-list .catalog-list-item:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.dashboard {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 280px);
  height: 100%;
  min-width: calc($minViewWidth - $sibarWidth);
  background-color: #DCDCDC;
  overflow: auto; }

.db-main {
  position: relative;
  margin-top: 33px;
  padding: 20px 6%;
  width: 100%;
  height: 100%; }
  .db-main > section {
    width: 100%; }

.db-section {
  margin-bottom: 28px !important; }

.db-item {
  margin-bottom: 14px !important; }

.stats-pane {
  padding-right: 8px; }
  .stats-pane:last-child {
    padding-right: 0; }

.rounded-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .rounded-wrap .inner-wrap {
    padding: 12px 20px;
    font-size: 14px;
    width: 100%;
    height: calc(100% - 24px - 14px); }
  .rounded-wrap .wrap-header {
    padding: 12px;
    background: #E9E9E9;
    color: #7e7e7e;
    font-weight: bold; }

.top-catalog-directory-nav {
  width: 100%;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  line-height: 33px;
  background-color: #FCFCFC;
  overflow: auto; }
  .top-catalog-directory-nav ul {
    height: 100%; }

.directory-link {
  position: relative;
  float: left; }
  .directory-link a {
    padding: 0 6px 0 12px;
    display: block;
    width: 100%;
    height: 100%;
    color: #2B2E3D; }
  .directory-link a:hover {
    color: #2189C0; }
  .directory-link:last-child a {
    color: #2189C0; }
  .directory-link + .directory-link:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "/"; }

.db-query {
  background: none;
  margin: 0 auto;
  width: 100%; }

.db-query-form {
  background-color: #FCFCFC; }

.db-query-history {
  height: 72px; }

.query-form-board {
  margin-right: 2%;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.query-item {
  position: relative;
  padding: 16px 8px; }
  .query-item .select-group {
    display: inline-block;
    vertical-align: middle; }
  .query-item .exchange-button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 16px;
    color: #DCDCDC;
    background: none; }
    .query-item .exchange-button:hover {
      color: #2B2E3D; }
    .query-item .exchange-button:hover + .tooltips {
      display: inline-block; }
  .query-item .tooltips {
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    background: #2B2E3D;
    color: #FFF;
    vertical-align: middle;
    display: none;
    font-size: 12px; }

label[for="input-date"],
label[for="select-duration"],
label[for="select-people"],
label[for="select-sold"] {
  min-width: 90px; }

.hour-history,
.hour-history-sequence {
  height: 100%;
  background: none; }

.seq-item {
  width: 16.66667%;
  height: 100%;
  padding-left: 8px;
  text-transform: uppercase;
  text-align: center; }
  .seq-item:last-child {
    padding-right: 8px; }
  .seq-item .seq-item-wrap {
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    display: block; }
  .seq-item .seq-item-text {
    width: 100%;
    height: 35px;
    line-height: 35px; }

.time-am:after {
  content: " am"; }

.time-pm:after {
  content: " pm"; }

.seq-item-price {
  vertical-align: middle; }

.seq-item-price-value {
  font-size: 22px;
  color: #FF4500; }

.seq-item-price-icon {
  color: #DCDCDC;
  font-size: 14px; }

.icon-cny:before {
  content: "\f157"; }

.history-query {
  padding-left: 8px;
  height: 100%; }
  .history-query .search-history {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #FCFCFC;
    text-align: center;
    vertical-align: middle;
    line-height: 72px; }
  .history-query .fa {
    margin-right: 10px;
    font-size: 2.75em;
    color: #2189C0;
    vertical-align: middle; }

.stats-header {
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold; }

.stats-item {
  margin-bottom: 12px; }

.stats-turnover-list {
  width: 100%;
  height: 72px; }

.stats-turnover-item {
  margin-right: 5%;
  width: 21.25%;
  height: 100%; }
  .stats-turnover-item:last-child {
    margin-right: 0; }

.turnover-data {
  height: 100%;
  padding: 12px;
  background-color: #FCFCFC;
  display: block; }
  .turnover-data.blue .graph {
    background: #2189C0; }
  .turnover-data.red .graph {
    background: #DB5D6A; }
  .turnover-data.green .graph {
    background: #27D088; }
  .turnover-data.yellow .graph {
    background: #FFC300; }

.turnover-value {
  height: 100%; }
  .turnover-value span[class*="turnover-value-"] {
    display: block;
    width: 100%;
    height: 50%;
    line-height: 2em; }

.turnover-graph {
  height: 100%;
  padding-left: 24px; }
  .turnover-graph .graph {
    width: 100%;
    height: 100%; }

.stats-table-item {
  height: 360px; }
  .stats-table-item .tab-wrap {
    width: 100%;
    height: 100%; }

.tab-pane {
  overflow: auto;
  padding: 24px 32px 0 32px !important; }

.search-report-form .search-button {
  position: relative;
  float: right; }
  .search-report-form .search-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; }

.search-input-field {
  margin-bottom: 8px;
  padding: 4px 16px 0 16px; }

.input-row {
  width: 100%;
  margin-bottom: 16px; }
  .input-row label {
    padding-left: 8px;
    color: #7e7e7e; }
  .input-row input,
  .input-row textarea {
    padding: 8px 8px 4px 8px;
    width: 100%;
    font-size: 14px;
    color: #2B2E3D;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    display: block; }
  .input-row textarea {
    line-height: 1.5;
    height: 6em;
    resize: none; }

.input-price-field {
  position: relative;
  padding-right: 4px; }
  .input-price-field .icon-cny {
    position: absolute;
    left: 8px;
    bottom: 4px;
    color: #7e7e7e; }

.input-people-field {
  padding-left: 4px; }

#input-price {
  padding-left: 22px; }

.search-action-field {
  width: 100%;
  padding: 0 8px;
  font-size: 12px;
  color: #7e7e7e;
  display: inline-block;
  vertical-align: middle; }

#agree-checkbox {
  vertical-align: middle;
  display: inline-block; }
  #agree-checkbox ~ .search-button {
    cursor: not-allowed; }
    #agree-checkbox ~ .search-button:before {
      background: rgba(0, 0, 0, 0.3); }
  #agree-checkbox + label {
    height: 28px;
    line-height: 28px;
    display: inline-block; }
  #agree-checkbox:checked ~ .search-button {
    cursor: pointer; }
    #agree-checkbox:checked ~ .search-button:before {
      background: none; }

.rank-pane {
  height: 100%; }

.rank-table .table-header:first-child {
  width: 15%; }

.rank-table .table-header:nth-child(2) {
  width: 25%; }

.rank-table .table-header:last-child {
  width: 60%; }

.rank-table .table-cell {
  position: relative; }

.rank-table .trend-index {
  height: 100%; }

.rank-table .trend-index,
.rank-table .trend-bar {
  display: block; }

.content-row:hover {
  cursor: pointer;
  background: #E9E9E9; }

.trend-index {
  width: 26%;
  text-align: right; }

.trend-bar {
  position: absolute;
  right: 0;
  top: 50%;
  width: 74%;
  height: 4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }
  .trend-bar:before, .trend-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    height: 100%; }
  .trend-bar:before {
    right: 16px;
    background: #DCDCDC; }

.content-row:first-child .trend-bar:after,
.content-row:nth-child(2) .trend-bar:after,
.content-row:nth-child(3) .trend-bar:after {
  background: #DB5D6A; }

.content-row:nth-child(4) .trend-bar:after {
  background: #FF4500; }

.content-row:nth-child(5) .trend-bar:after {
  background: #FFC300; }

.content-row .trend-bar:after {
  background: #2189C0; }

.w-30:after {
  width: calc(30% - 32px); }

.w-31:after {
  width: calc(31% - 32px); }

.w-32:after {
  width: calc(32% - 32px); }

.w-33:after {
  width: calc(33% - 32px); }

.w-34:after {
  width: calc(34% - 32px); }

.w-35:after {
  width: calc(35% - 32px); }

.w-36:after {
  width: calc(36% - 32px); }

.w-37:after {
  width: calc(37% - 32px); }

.w-38:after {
  width: calc(38% - 32px); }

.w-39:after {
  width: calc(39% - 32px); }

.w-40:after {
  width: calc(40% - 32px); }

.w-41:after {
  width: calc(41% - 32px); }

.w-42:after {
  width: calc(42% - 32px); }

.w-43:after {
  width: calc(43% - 32px); }

.w-44:after {
  width: calc(44% - 32px); }

.w-45:after {
  width: calc(45% - 32px); }

.w-46:after {
  width: calc(46% - 32px); }

.w-47:after {
  width: calc(47% - 32px); }

.w-48:after {
  width: calc(48% - 32px); }

.w-49:after {
  width: calc(49% - 32px); }

.w-50:after {
  width: calc(50% - 32px); }

.w-51:after {
  width: calc(51% - 32px); }

.w-52:after {
  width: calc(52% - 32px); }

.w-53:after {
  width: calc(53% - 32px); }

.w-54:after {
  width: calc(54% - 32px); }

.w-55:after {
  width: calc(55% - 32px); }

.w-56:after {
  width: calc(56% - 32px); }

.w-57:after {
  width: calc(57% - 32px); }

.w-58:after {
  width: calc(58% - 32px); }

.w-59:after {
  width: calc(59% - 32px); }

.w-60:after {
  width: calc(60% - 32px); }

.w-61:after {
  width: calc(61% - 32px); }

.w-62:after {
  width: calc(62% - 32px); }

.w-63:after {
  width: calc(63% - 32px); }

.w-64:after {
  width: calc(64% - 32px); }

.w-65:after {
  width: calc(65% - 32px); }

.w-66:after {
  width: calc(66% - 32px); }

.w-67:after {
  width: calc(67% - 32px); }

.w-68:after {
  width: calc(68% - 32px); }

.w-69:after {
  width: calc(69% - 32px); }

.w-70:after {
  width: calc(70% - 32px); }

.w-71:after {
  width: calc(71% - 32px); }

.w-72:after {
  width: calc(72% - 32px); }

.w-73:after {
  width: calc(73% - 32px); }

.w-74:after {
  width: calc(74% - 32px); }

.w-75:after {
  width: calc(75% - 32px); }

.w-76:after {
  width: calc(76% - 32px); }

.w-77:after {
  width: calc(77% - 32px); }

.w-78:after {
  width: calc(78% - 32px); }

.w-79:after {
  width: calc(79% - 32px); }

.w-80:after {
  width: calc(80% - 32px); }

.w-81:after {
  width: calc(81% - 32px); }

.w-82:after {
  width: calc(82% - 32px); }

.w-83:after {
  width: calc(83% - 32px); }

.w-84:after {
  width: calc(84% - 32px); }

.w-85:after {
  width: calc(85% - 32px); }
