.logo {
    float: left;
    margin-left: 3%;
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
    color: $primaryColor;

    & a {
        @include size($headerHeight, $headerHeight);
        line-height: 50px;
        display: block;
    }
}
