.search {
    @include size(20%, 100%);
    float: right;
    line-height: $headerHeight;
}

.search-form {
    position: relative;
    @include size(100%, 100%);

    & label {
        position: absolute;
        top: 0;
        left: 10px;
        color: $lightGrey;
    }
}

#search-input {
    @include rounded(28px);
    @include size(100%, 28px);
    padding: 5px 15px 5px 35px;
    outline: none;
    border: none;
}
