/* This includes mixin and general styles */

/* Typography */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$font-stack: 'Open Sans' Helvetica, sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$font-size-regular: 14px;
$line-height-regular: 20px;

$pimary-color: #333;
$white-color: #fff;

/* Minin */
@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	    -ms-transition: $transition;
			transition: $transition;
}

@mixin animation($animation...) {
	-webkit-animation: $animation;
	   -moz-animation: $animation;
	     -o-animation: $animation;
	        animation: $animation;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
	   -moz-transform: $transform;
	    -o-transform: $transform;
			transform: $transform;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

@include keyframes(elastic) {
	5% {
		@include transform(rotateX(80deg));
	}

	25% {
		@include transform(rotateX(15deg));
	}

	45% {
		@include transform(rotateX(-40deg));
	}

	60% {
		@include transform(rotateX(30deg));
	}

	70% {
		@include transform(rotateX(-20deg));
	}

	85% {
		@include transform(rotateX(15deg));
	}

	90% {
		@include transform(rotateX(-10deg));
	}

	95% {
		@include transform(rotateX(5deg));
	}


	100% {
		@include transform(rotateX(0deg));
	}
}


/* extend */
.clearfix {
	&:before,
	&:after {
		content: "";
		display: table-cell;
	}

	&:after {
		clear: both;
		*zoom: 1;
	}
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.horz-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.vert-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* color */
$light-blue: #00aeef;

/* General */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: $font-stack;
	font-size: $font-size-regular;
	color: $pimary-color;
	background-color: #ccc;
}

ul, ol {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	font-weight: $font-regular;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 58px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 28px;
}

h5{
	font-size: 20px;
}

p {
	font-size: 14px;
}

.bold {
	font-weight: $font-bold !important;
}

.title {
	margin: 20px auto;
	font-weight: $font-regular;
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
}

.slider-wrapper {
	position: relative;
	display: inline-block;
	min-width: 1600px;
	height: auto;
	font-size: 0;
	background-color: transparent;
}