.btn {
	padding: 12px 25px;
	min-width: 110px;
	width: 160px;
	height: 41px;
	font-size: 14px;
	line-height: $line-height-regular;
	text-align: center;
	color: #fff;
	border: none;
	outline: none;
	@include border-radius(3px);
	@include transition(background-color .3s, color .3s ease-out);
	&:hover {
		background-color: #fff;
		color: $light-blue;
	}
}
	
.blue-btn {
	background-color: $light-blue;
	text-transform: uppercase;
}

.tran-btn {
	padding: 10px 23px !important;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid #fff;
}