.slider {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 650px;
	display: inline-block;
	@extend .clearfix;

	li {
		float: left;
		margin-right: -100%;
		width: 100%;
		height: 100%;
		background-color: transparent;
		overflow: hidden;
		@include transition(opacity 1.3s, visibility 1.3s ease-out);

		&.hide {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.slide {
	position: relative;
	overflow: hidden;
	height: 100%;
	text-align: center;

	.image-container {
		img {
			display: block;
			width: 100%;
		}
	}

	.text-container {
		color: #fff;
		@extend .center;

		h2 {
			font-weight: $font-light;
			margin: 0 auto;
		}

		p {
			margin-top: 8px;
			font-size: 16px;
		}
	}

	.btn-container {
		display: inline-block;
		@extend .horz-center;
		bottom: 190px;
	}
}