*,
*:before,
*:after {
    box-sizing: border-box;
}

#slider {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 450px;
    background-color: #ccc;  
}

.spot {
    margin: 0;
    padding: 10px;
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.spot li {
    margin-bottom: 15px;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(0, 0, 0, .3);
}

.spot li.active {
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid rgba(0, 0, 0, .6);
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 650px;
    height: auto;
    transition: top .7s ease-in-out;
}

.sheet {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 450px;
}

.sheet[data-num="0"] {
    background-color: #947A6D;
}

.sheet[data-num="1"] {
    background-color: #544A6D;
}

.sheet[data-num="2"] {
    background-color: #347B6D;
}

.sheet[data-num="3"] {
    background-color: #7A2E6D;
}

/* inner view */
.view-box {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 60%;
    height: 60%;
}

.view-box ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 14px;
    background: transparent;
    overflow: hidden;
}

.box {
    position: absolute;
    padding: 10px;
    width: calc(100% / 2 - 10px);
    height: calc(100% / 2 - 10px);
    text-align: center;
    border: 5px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .3);
    overflow: hidden;
}

.box:nth-child(1) {
    left: 5px;
    top: 5px;
}

.box:nth-child(2) {
    left: 200px;
    top: 5px;
}

.box:nth-child(3) {
    left: 5px;
    top: 140px;
}

.box:nth-child(4) {
    left: 200px;
    top: 140px;
}

.box h4 {
    margin: 8px; 
    text-transform: uppercase;
}

.box p {
    text-align: left;
}

/* Animate inner view when scroll to it*/

/* fade in */

/* hide fade in, initial phase */
ul.hide-fade-in li {
    opacity: 0;
    transition: none !important; 
}

/* fade in animation */
ul.fade-in li {
    transition: opacity .6s ease-in-out;
}

ul.fade-in li:nth-child(1) {
    transition-delay: 0;
}

ul.fade-in li:nth-child(2) {
    transition-delay: .1s;
}

ul.fade-in li:nth-child(3) {
    transition-delay: .2s;
}

ul.fade-in li:nth-child(4) {
    transition-delay: .3s;
}

/* shrink */
/* initial phase */
ul.hide-shrink li {
    opacity: 0;
    transition: none !important; 
}

ul.hide-shrink li:nth-child(1) {
    left: -50px;
    top: -34px;
}

ul.hide-shrink li:nth-child(2) {
    left: 250px;
    top: -34px;
}

ul.hide-shrink li:nth-child(3) {
    left: -50px;
    top: 174px;
}

ul.hide-shrink li:nth-child(4) {
    left: 250px;
    top: 174px;
}

ul.shrink li {
    transition: opacity .5s,
                left .6s,
                top .6s ease-in-out;
}

/* flip */
ul.hide-flip li {
    opacity: 0;
    transition: none !important; 
}

ul.hide-flip li:nth-child(1) {
    transform: rotateY(80deg);
}

ul.hide-flip li:nth-child(2) {
    transform: rotateX(-60deg);
}

ul.hide-flip li:nth-child(3) {
    transform: rotateX(70deg);
}

ul.hide-flip li:nth-child(4) {
    transform: rotateY(-80deg);
}

ul.flip {
    perspective: 99999px;
}

ul.flip li {
    transition: opacity .4s, 
                transform .7s ease-in-out;
}

/* stack */
ul.hide-stack li {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: none !important;
}

ul.stack li {
    transition: left .7s, top .7s, transform .7s, opacity .3s ease-in-out;
}

