.tab-wrap {
    margin: 0 auto;
    position: relative;
}

.tab {
    position: absolute;
    top: 34px;
    left: 0;
    display: block;
    border: 2px solid $lightGrey;
    @include size(100%, calc(100% - 34px));
    @include prefix(border-top-right-radius, 5px, webkit moz);
    @include prefix(border-bottom-left-radius, 5px, webkit moz);
    @include prefix(border-bottom-right-radius, 5px, webkit moz);

    & > label {
        position: absolute;
        left: -2px;
        top: -34px;
        z-index: 999;
        @include prefix(user-select, none, webkit moz ms);
        @include prefix(border-top-left-radius, 4px, webkit moz);
        @include prefix(border-top-right-radius, 4px, webkit moz);

        &:hover {
            cursor: pointer;
        }
    }

    & > .tab-pane {
        padding: 14px;
        width: 100%;
    }

    &:nth-child(2) > label {
        left: 88px;
    }

    &:nth-child(3) > label {
        left: 178px;
    }

    &:nth-child(4) > label {
        left: 268px;
    }

    &:nth-child(5) > label {
        left: 358px;
    }
}

input[name="tab-nav"] {
    display: none;

    & ~ label {
        @include size(86px, 34px);
        background: $lightGrey;
        color: $darkGrey;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        border: none;
        border-top: 2px solid $lightGrey;
        border-left: 2px solid $lightGrey;
        border-right: 2px solid $lightGrey;
    }

    & ~ .tab-pane {
        display: none;
    }

    &:checked {

        & ~ label {
            background: $milk;
        }

        & ~ .tab-pane {
            display: block;
        }
    }
}
