<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <meta name="description" content="Followed the tutorial from codeschool">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body ng-app="store" ng-controller="StoreController as store">
    <!-- <p>{{"How old are" + "you?"}}</p>
    <p>I'm {{2015 - 1988}}.</p>
    <p>Name: <input type="text" ng-model="name" placeholder="Enter something"></p>
    <h1>Hello, {{name}}</h1> -->
    <div ng-repeat="product in store.products" ng-hide="product.soldOut">
        <h1>{{product.name}}</h1>
        <h2>{{product.price | currency}}</h2>
        <p>{{product.description}}lorem</p>
        <p>{{product.date | date: 'MM/dd/yyyy @ h:mma'}}</p>
        <button ng-show="product.canPurchase">Add to Cart</button>
    </div>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/app-base.js"></script>
</body>
</html>
