*,
*:before,
*:after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 25px;
	margin: 12px 0 17px 0;
}

.hide {
	display: none;
}

.select {
	background-color: #ccc;
}

.clearfix::before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

#app-container {
	margin: 50px auto;
	padding: 10px;
	width: 650px;
	height:525px;
	border: 1px solid #ccc;
}

/* Input */
#edit {
	position: relative;
	width: 100%;
	min-height: 30px;
}

#city-edit {
	width: 500px;
}

.btn-wrapper {
	float: right;
}

#suggest {
	margin-top: 5px;
	width: 100%;
	height: 70px;
	overflow: auto;
	border: 1px solid #333;
}

#suggest li {
	cursor: pointer;
	padding: 5px;
}

#suggest li:hover {
	background-color: #ccc;
}


/* City list */
#list h3 {
	margin: 13px 0 7px 0;
}

#cities {
	border: 1px solid #333;
	width: 100%;
	height: 110px;
	overflow: auto;
}

.city {
	padding: 5px;
}

.city:hover {
	background-color: #ccc;
	cursor: pointer;
}

.city a {
	margin-left: 5px;
	float: right;
}

.remove:hover,
.update:hover {
	color: #fff;
}

/* weather info */
#result {
	position: relative;
	margin: 15px 0 45px 0;
	width: 100%;
	height: 120px;
}

#result h4 {
	margin: 0;
}

.switch {
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #333;
}

.switch a {
	padding: 0 10px;
	display: inline-block;
	text-decoration: none;
}

.switch a.active {
	background-color: #ccc;
}

.current,
.forecast {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 90px;
	font-size: 16px;
	text-align: center;
}

.current li{
	margin: 10px 0;
	padding: 0 8px;
	float: left;
	width: 28%;
	height: 90px;
	line-height: 90px;
	border-right: 1px solid #ccc;
}

.current li:last-child {
	width: 44%;
	border-right: none;
}

.current li img {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}

.forecast li {
	float: left;
	width: 25%;
	height: 90px;
	margin: 10px 0;
	border-right: 1px solid #ccc;
}

.forecast li:last-child {
	border-right: none;
}

.date {
	margin: 10px 0;
}

.weather {
	width: 100%;
	height: 55px;
	font-size: 14px;
}

.weather img {
	vertical-align: middle;
	margin-right: 5px;
}

.weather span {
	line-height: 55px;
	transform: rotate(90deg);
}

.weather .symbol {
	font-style: normal;
	font-size: 17px;
}

/* footer */
#footer {
	font-size: 13px;
	text-align: right;
}
