.aside {
    @include size($sidebarWidth, 100%);
    background-color: $darkGrey;
    overflow: auto;

    & .sidebar {
        position: relative;
        margin-bottom: 20px;
    }
}

@import '_profile.scss';
@import '_catalog.scss';
