%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%center {
    @include prefix(transform, translate(-50%, -50%), webkit moz);
    position: absolute;
    left: 50%;
    top: 50%;
}

%ripple {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:after {
        @extend %center;
        @include size(200%);
        @include prefix(transition, #{width 1s, height 1s, opacity 1.3s $cubic}, webkit moz);
        @include rounded(100%);
        content: "";
        background: $black;
        display: block;
        opacity: 0;
        z-index: -1;
    }

    &:active:after {
        @include size(0);
        @include prefix(transition, 0s, webkit moz);
        opacity: .4;
    }
}
