body {
	margin-bottom: 20px;
	font-size:100%;
	display: block;
}

div, ul {
	margin: 0;
	padding: 0;
}

/* style of main frame */
.page_container {
	margin: 0 auto;
	width: 960px;
	height: 540px;
	background-color: #F5FAFF;
}

/* style of nav frame */
.nav_container {
	width: 960px;
	height: 40px;
	background-color: #444;
}

/* nav list */

.nav_container ul {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.nav_item {
	float: left;
	font-size: 1.3em;
	font-family: Roboto Condensed, sans-serif;
	line-height: 40px;
	width: 130px;
	height: 40px;
}

/* nav text */
.nav_text {
	display: block;
	color: white;
	text-decoration: none;
}

.nav_text:hover {
	background-color: #4DDBFF;
	transition: .3s background-color;
}

.main_content_container {
	width: 960px;
	height: 500px;
	background-image: url(../../img/macmenu/bg_img.jpg);
	background-repeat: no-repeat;
}

.section_content_container {
	position: relative;
	height: 400px;
}

.desk_menu_container {
	position: relative;
	height: 100px;
	background-color: #444;
}

.icon_menu_wrapper {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.icon_menu_wrapper ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.icon_menu_wrapper li {
	float: left;
	background-color: red;
}

.mac_icon_wrapper {
	background-image: url(../../img/macmenu/mac-icon.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.powermac_icon_wrapper {
	
}
/* .tray_wrapper {
	width: 100%;
	height: 70%;
	background-color: red;
	opacity: 0.5;
} */

