/* common style */
html {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
    overflow: hidden;
}

body {
	font-family: 'Oxygen', Helvetica, sans-serif;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, a, li, .fa {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button { outline: none; }

a { 
    color: inherit;
    text-decoration: none;
}

h1 { font-size: 1.7em; }

h2 { font-size: 1.1em; }

h3 { font-size: 1em; }

h4 { font-size: 1em; }

.fa {
    padding-right: .4em;
}

/* .shadow-top {
	-webkit-box-shadow: ;
	-moz-box-shadow: ;
	-box-shadow: ;
}

.shadow-left {
	-webkit-box-shadow: ;
	-moz-box-shadow: ;
	-box-shadow: ;
} */

.shadow-right {
	-webkit-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
						4px 0 10px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
					 4px 0 10px 0 rgba(0, 0, 0, .1);
	box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
				 4px 0 10px 0 rgba(0, 0, 0, .1);
}

.shadow-bottom {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
						0 4px 10px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
					 0 4px 10px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
				 0 4px 10px 0 rgba(0, 0, 0, .2);
}

/* outer wrapper style */
#app-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 20%;
	overflow: hidden;
	background-color: #FCFAF2;
	color: #4A593D;
}

/* header style */
.app-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 4em;
	background-color: #5DAC81;
    display: table;
}

.app-header > h1 {
	padding-left: .8em;
	line-height: 1.8em;
	color: #FCFAF2;
    vertical-align: middle;
    display: table-cell;
}

.app-header .fa-calendar-check-o {
	padding-right: .2em;
}

/* App main body style */
.app-body {
	position: absolute;
	bottom: 0;
	top: 4em;
	width: 100%;
}

/* Split body into 3 columns, 1/4 and 1/4 for two menus, rest for todo content */
.app-body-col-1-4 {
	position: relative;
	height: 100%;
	width: 25%;
	min-width: 25%;
	float: left;
}

.app-body-col-1-2 {
	position: relative;
	height: 100%;
	width: 50%;
	min-width: 50%;
	float: left;
}


/* Bottom button for adding category and tasks */
.app-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	border: none;
    color: #FCFAF2;
    font-size: 1em;
    background-color: #5DAC81;
    z-index: 1;
    -webkit-transition: background-color .2s, color .2s ease-out;
    transition: background-color .2s, color .2s ease-out;
}

.app-btn:hover {
	cursor: pointer;
	background-color: #24936E;
}

/* Most left list */
.app-list {
    width: 100%;
    color: #4A593D;
}

.app-list[data-list-level="1"] {
    position: absolute;
    top: 0;
    bottom: 3em;
    overflow: auto;
}

.app-list[data-list-level="2"] {
    max-height: 9999px;
    overflow: hidden;
    -webkit-transition: max-height .3s cubic-bezier(1, 0, 1, 0);
    -moz-transition: max-height .3s cubic-bezier(1, 0, 1, 0);
    transition: max-height .3s scubic-bezier(1, 0, 1, 0);
}

.app-list-collapse[data-list-level="2"] {
    max-height: 0;
    -webkit-transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
    -moz-transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
    transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
}

.app-list[data-list-level="1"] li > a {
    display: block;
    padding: 1em;
    font-size: 1.2em;
    -webkit-transition: background-color .2s, color .2s ease-out;
    transition: background-color .2s, color .2s ease-out;
}

.app-active-item {
    background-color: #A8D8B9 !important;
    color: #FCFAF2 !important;
}

.app-list[data-list-level="2"] li > a {
    display: block;
    padding: .7em .7em .7em 2em;
    font-size: 1.1em;
    -webkit-transition: background-color .2s, color .2s ease-out;
    transition: background-color .2s, color .2s ease-out;
}

.app-list[data-list-level="1"] li > a:hover, 
.app-list[data-list-level="2"] li > a:hover {
    background-color: #A8D8B9;
    color: #FCFAF2;
    cursor: pointer; 
}

.app-trash-icon {
    opacity: 0;
    display: none;
    float: right;
    color: #FCFAF2;
    font-size: 1.1em;
    -webkit-transition: opacity .1s, color .2s ease-out;
    transition: opacity .1s, color .2s ease-out;
}

.app-list[data-list-level="2"] a:hover .app-trash-icon {
    opacity: 1;
    display: inline;
}

.app-trash-icon:hover {
    color: #4A593D;
}

/* Middle list */
.app-filter-nav {
    position: absolute;
    width: 100%;
    height: 3.4em;
}

.app-filter-nav > li {
    width: 33%;
    float: left;
    text-align: center;
    padding: 1.3em 0;
}

.app-filter-nav > li:last-child {
    width: 34%;
}

li.app-filter {
    color: #4A593D;
    background-color: #FCFAF2;
    -webkit-transition: background-color .2s, color .2s ease-out;
    transition: background-color .2s, color .2s ease-out;    
}

li.app-filter:hover {
    background-color: #A8D8B9;
    color: #FCFAF2; 
    cursor: pointer;
}

li.app-active-filter {
    background-color: #5DAC81 !important; 
    color: #FCFAF2 !important;
    cursor: pointer !important;
}

.app-task-list {
    position: absolute;
    top: 3.4em;
    bottom: 3em;
    width: 100%;
    overflow: auto;
}

.app-tasks-date {
    padding: 1em;
    background-color: #5DAC81;
    color: #FCFAF2;
    cursor: pointer;
}

.app-tasks > li[data-task-status="completed"] {
    text-decoration: line-through;
}


.app-tasks li a {
    display: block;
    padding: .7em 1em;
    font-size: 1.05em;
    vertical-align: underline;
    text-decoration: inherit;
    -webkit-transition: background-color .2s, color .2s ease-out;
    transition: background-color .2s, color .2s ease-out;
}

.app-tasks li a:hover {
    background-color: #A8D8B9;
    color: #FCFAF2;
    cursor: pointer;
}

.fa-times {
    float: right;
    padding-right: 0;
    font-size: 1.05em;
    color: #FCFAF2;
    opacity: 0;
    display: none;
    /* transition: all .3s ease-out; */
    -webkit-transition: opacity .1s, color .2s ease-out;
    transition: opacity .1s, color .2s ease-out;
}

.fa-times:hover {
    color: #4A593D;
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90eg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
}

.app-tasks li a:hover .fa-times {
    opacity: 1;
    display: inline;
}

/* Task editor pane */
.app-editor-header {
    width: 100%;
    height: 11%;
    background-color: #5DAC81;
    color: #FCFAF2;
    overflow: hidden;
}

.app-todo-set {
    height: 100%;
    float: left;
}

.app-todo-set > div:first-child {
    padding: 1em 1.1em;
    height: 50%;
}

.app-todo-set > div:last-child {
    padding: .8em 1.1em;
    height: 50%;
}

.app-todo-set select {
}

.app-todo-set select,
.app-todo-set input {
    min-width: 12em;
    font-size: 1em;
    color: #4A593D;
    outline: none !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
}

.app-todo-action {
    float: right;
    padding: .8em .5em;
    height: 100%;
    font-size: 1.5em;
}

.app-task-content-editor {
    padding: 2em;
    width: 100%;
    height: 89%;
}

.fa-floppy-o,
.fa-check-square {
    color: inherit;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.fa-floppy-o:hover,
.fa-check-square:hover {
    color: #4A593D;
    cursor: pointer;
}

.app-task-content-editor textarea {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    outline: none !important;
    resize: none;
    font-size: 1.2em;
}

