/* ===================
General style
=================== */
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	*zoom: 1;
}

/* reset some elements' styles */
ul, 
ol {
	list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}

h1,
h2,
h3,
h4,
h5 {
	color: #2d3033;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 28px;
	font-weight: 300;
}

h4 {
	font-size: 22px;
	font-weight: 400;
}

h5 {
	font-size: 14px;
	font-weight: 700;
}

/* common styles */
.btn {
	border: none;
	outline: none;
	background-color: #fff;
}

.round {
	display: block;
	border: none;
	border-radius: 100%;
}

.box {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1000px;
}

.intro {
	min-height: 300px;
	background-color: #666;
}

.slider-box {
	min-height: 200px;
	background-color: #ccc;
}

.ad-box {
	min-height: 150px;
	background-color: #666;
}

.subscribe-box {
	min-height: 300px;
	background-color: #ccc;
}

.main-footer {
	min-height: 200px;
	background-color: #666;
}


/* ===================s
Responsive layout
=================== */
.container {
	ddisplay: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.col-1-2 {
	flex: 0 0 50%;
}

.col-1-3 {
	flex: 0 0 33.33333%;
}


/* media queries */
@media screen and (max-width: 1024px) {
	.header-content {
		text-align: center;
	}

	.social-media-list {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.col-sm-1-1 {
		flex: 0 0 100%;
	}

	.col-sm-1-2 {
		flex: 0 0 50%;
	}

	#banner h1 {
		font-size: 40px;
	}

	.banner-content,
	.phone-box {
		text-align: center;
	}

	.banner-content {
		padding-bottom: 40px;
	}

	.phone-box div {
		float: none !important;
		margin: 0 auto;
	}

	.inner-banner .row {
		padding-top: 30px !important;
	}
}

@media 

/* ===================
Banner style
=================== */
#banner {
	width: 100%;
	background-color: #fff;
}

.banner-header {
	background-color: #fff;
}

.header-content {
	position: relative;
	width: 100%;
	padding-top: 68px;
	padding-bottom: 68px;
	line-height: 0;
}

.logo {
	font-size: 0;
	display: inline-block;
}

.logo img {
	display: block;
	margin: 0;
	padding: 0;
}

.social-media-list {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.social-media-list ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.social-media-list ul li {
	float: left;	
}

.social-media-list li a {
	margin-left: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 1.25em;
	color: #fff;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.fb {
	background-color: #3b5998;	
}

.tw {
	background-color: #55acee;
}

.gp {
	background-color: #dd4b39;
}

/* lower part of the banner */
.inner-banner {
	width: 100%;
	background-color: #3db39e;
}

.inner-banner .row {
	padding-top: 85px;
}

.banner-content h1, p {
	color: #fff;
}

.banner-content h1 {
	line-height: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.banner-content p {
	font-size: 1.1em;
	line-height: 1.68em;
	margin-bottom: 40px;
}

.banner-content .btn {
	padding: 13px 30px;
	border-radius: 5px;
	color: #26a6d1;
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
}

.banner-content a {
	margin-left: 40px; 
	text-transform: uppercase;
	text-decoration: underline;
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
}

.phone-box {
	font-size: 0;
}

.phone-box div {
	float: right;
}

/* ===================
Intro style
=================== */
#intro {
	width: 100%;
	background-color: #fff;
}

.text-intro {
	display: inline-block;
	padding: 0 30px;
	text-align: center;
}

.text-intro h3 {
	margin-top: 100px;
}

.text-intro p {
	margin-bottom: 100px;
	color: #6a6a6a;
	font-size: 17px;
	line-height: 1.78;
}

.pic-intro {
	text-align: center;
}

.text {
	padding: 0 20px;
}

.intro-box span {
	font-size: 75px;
	color: rgba(0, 0, 0, .3);
}

.intro-box h4 {
	margin: 20px auto;
	text-transform: uppercase;
}

.intro-box p {
	font-size: 14px;
	margin-bottom: 100px;
	color: #6a6a6a;
}

.intro-box p:before {
	content: "";
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	display: block;
	width: 25px;
	border-bottom: 2px solid rgba(0, 0, 0, .3);
}

/* ===================
Slider-box style
=================== */
#slider-box {
	width: 100%;
	background-color: #f6f6f6;
	height: 500px;
}

.slider-wrap {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-wrap ul {
	margin: 0;
	padding: 0;
}

.indicator {
	position: absolute;
	top: 0;
	right: 0;
}

.indicator li {
	float: left;
	margin-right: 13px;
}

.indicator li a {
	width: 13px;
	height: 13px;
	background-color: #cbcfd1;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.active {
	background-color: #3db39e !important;
}

.indicator li a:hover {
	background-color: 
}

/* ===================
Ad-box style
=================== */

/* ===================
Subscribe-box style
=================== */

/* ===================
Footer style
=================== */