<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Weather-backbone</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section id="weatherapp">
		<header id="header">
			<input type="text" placeholder="Enter a city" id="new-city" autofocus>
			<button class="add-btn">Add</button>
		</header>
		<section id="suggest" class="hide">
			
		</section>
		<section id="city-list">
			
		</section>
		<section id="weather-info" class="btm-shadow">
			<ul class="weather-data clearfix">
				<li data-name="date">
					<%= N/A %>
				</li>
				<li data-name="temp">
					<%= N/A %>
				</li>
				<li data-name="weather">
					<%= N/A %>
				</li>
			</ul>
		</section>
	</section>

	<!-- javascript -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore.min.js"></script>
	<script src="js/lib/backbone.min.js"></script>
	<script src="js/lib/backbone.localStorage.min.js"></script>
	<script src="js/models/city.js"></script>
</body>
</html>