<script type="text/template" id="city-template">
    <header class="city-name inner">
        <h3><%- data.current_observation.display_location.city %></h3>
        <p><%- data.forecast.simpleforecast.forecastday[0].date.monthname + ' ' + data.forecast.simpleforecast.forecastday[0].date.day %></p>
    </header>
    <section class="weather inner">
        <div class="current">
            <i class="wi <%= icons[data.current_observation.icon] %>"></i>
            <span class="temp">
                <%- data.current_observation.temp_c %><i class="wi wi-celsius"></i>
            </span>
        </div>
        <div class="condition">
            <span class="precip">
                <i class="wi wi-umbrella"></i>
                <%- data.current_observation.precip_today_metric %>mm
            </span>
            <span class="temp-range">
                <span class="high">
                    <%- data.forecast.simpleforecast.forecastday[0].high.celsius %><i class="wi wi-degrees"></i>
                </span>
                <span class="low">
                    <%- data.forecast.simpleforecast.forecastday[0].low.celsius %><i class="wi wi-degrees"></i>
                </span>
            </span>
        </div>
    </section>
    <section class="forecast row inner">
        <% for (var i = 1; i <= 3; i++) { %>
            <div class="forecast-day col-1-3">
                <h4><%- data.forecast.simpleforecast.forecastday[i].date.monthname + ' ' + data.forecast.simpleforecast.forecastday[i].date.day %></h4>
                <div class="forecast-weather">
                    <i class="wi <%= icons[data.forecast.simpleforecast.forecastday[i].icon] %>"></i>
                    <span class="temp-range">
                        <span class="high">
                            <%- data.forecast.simpleforecast.forecastday[i].high.celsius %><i class="wi wi-degrees"></i>
                        </span>
                        <span class="low">
                            <%- data.forecast.simpleforecast.forecastday[i].low.celsius %><i class="wi wi-degrees"></i>
                        </span>
                    </span>
                </div>
            </div>
        <% } %>
    </section>
</script>
