/* common style */
html {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'Oxygen', Helvetica, sans-serif;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, a, li, .fa {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button { outline: none; }

a { text-decoration: none;}

h1 { font-size: 1.7em; }

h2 { font-size: 1.1em; }

h3 { font-size: 1em; }

h4 { font-size: 1em; }

.fa {
    padding-right: .4em;
}

.shadow-top {
	-webkit-box-shadow: ;
	-moz-box-shadow: ;
	-box-shadow: ;
}

.shadow-left {
	-webkit-box-shadow: ;
	-moz-box-shadow: ;
	-box-shadow: ;
}

.shadow-right {
	-webkit-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
						4px 0 10px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
					 4px 0 10px 0 rgba(0, 0, 0, .1);
	box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .3), 
				 4px 0 10px 0 rgba(0, 0, 0, .1);
}

.shadow-bottom {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
						0 4px 10px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
					 0 4px 10px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), 
				 0 4px 10px 0 rgba(0, 0, 0, .2);
}

/* outer wrapper style */
#app-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 20%;
	overflow: hidden;
	background-color: #FCFAF2;
	color: #4A593D;
}

/* header style */
.app-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 4em;
	background-color: #5DAC81;
    display: table;
}

.app-header > h1 {
	padding-left: .8em;
	line-height: 1.8em;
	color: #FCFAF2;
    vertical-align: middle;
    display: table-cell;
}

.app-header .fa-calendar-check-o {
	padding-right: .2em;
}

/* App main body style */
.app-body {
	position: absolute;
	bottom: 0;
	top: 4em;
	width: 100%;
}

/* Split body into 3 columns, 1/4 and 1/4 for two menus, rest for todo content */
.app-body-col-1-4 {
	position: relative;
	height: 100%;
	width: 25%;
	min-width: 25%;
	float: left;
}

.app-body-col-1-2 {
	position: relative;
	height: 100%;
	width: 50%;
	min-width: 50%;
	float: left;
}


/* Bottom button for adding category and tasks */
.app-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	border: none;
    color: #FCFAF2;
    font-size: 1em;
    background-color: #5DAC81;
    z-index: 1;
    -webkit-transition: background-color .2s, color .2s ease;
    transition: background-color .2s, color .2s ease;
}

.app-btn:hover {
	cursor: pointer;
	background-color: #24936E;
}

/* Most left list */
.app-list {
    width: 100%;
    color: #4A593D;
}

.app-list[data-list-level="1"] {
    position: absolute;
    top: 0;
    bottom: 3em;
    overflow: auto;
}

.app-list[data-list-level="2"] {
    max-height: 9999px;
    overflow: hidden;
    -webkit-transition: max-height .3s cubic-bezier(1, 0, 1, 0);
    -moz-transition: max-height .3s cubic-bezier(1, 0, 1, 0);
    transition: max-height .3s scubic-bezier(1, 0, 1, 0);
}

.app-list-collapse[data-list-level="2"] {
    max-height: 0;
    -webkit-transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
    -moz-transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
    transition: max-height .3s cubic-bezier(0, 1, 0, 1) -.1s;
}

.app-list[data-list-level="1"] h2 {
    padding: 1em;
    -webkit-transition: background-color .2s, color .1s ease-in;
    transition: background-color .2s, color .1s ease-in;
}

.app-list[data-list-level="2"] h3 {
    padding: .7em .7em .7em 2em;
    -webkit-transition: background-color .2s, color .1s ease-in;
    transition: background-color .2s, color .1s ease-in;
}

.app-list[data-list-level="1"] h2:hover, 
.app-list[data-list-level="2"] h3:hover {
    background-color: #A8D8B9;
    color: #FCFAF2;
    cursor: pointer; 
}

/* Middle list */
.app-filter {
    position: absolute;
    width: 100%;
    height: 3.4em;
}

.app-filter > li {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 1.2em 0;
}

li[data-filter-status="deactive"]{
    color: #4A593D;
    -webkit-transition: background-color .2s, color .1s ease-in;
    transition: background-color .2s, color .1s ease-in;
}

li[data-filter-status="deactive"]:hover {
    background-color: #A8D8B9;
    color: #FCFAF2; 
    cursor: pointer;
}

li[data-filter-status="active"] {
    background-color: #5DAC81;
    color: #FCFAF2;
    cursor: pointer;
}

.app-task-list {
    position: absolute;
    top: 3.4em;
    bottom: 3em;
    width: 100%;
    overflow: auto;
}

.app-tasks-date {
    padding: 1em;
    background-color: #5DAC81;
    color: #FCFAF2;
    cursor: pointer;
}

.app-tasks {
    padding: .3em;
}

.app-tasks > li {
    padding: .5em 1em; 
}

.app-tasks > li:hover {
    color: #5DAC81;
    cursor: pointer;
}

.app-tasks > li[data-task-status="completed"] {
    text-decoration: line-through;
}

/* Task content pane */