/* ---------------- overall common style ---------------- */
html {
    box-sizing: border-box;
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
    font-family: 'Oxygen', sans-serif;
}

body {
    height: 100%; /* force the BODY element to match the height of the HTML element */
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, .fa {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 { font-size: 1.7em; }

h2 { font-size: 1.2em; }

h3 { font-size: 1em; }

h4 { font-size: .95em; }

button { 
    font-family: 'Oxygen', sans-serif;
    outline: none; 
}


/* ---------------- Most outer wrapper ----------------  */
#holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 20%;
    overflow: hidden;
    background-color: #FCFAF2;
    color: #4A593D;
}

/* ---------------- App header and body common style ---------------- */
#app-header, #app-body {
    position: absolute;
    width: 100%;
    left: 0;
}

/* ---------------- App header ---------------- */
#app-header {
    top: 0;
    background-color: #5DAC81;
    height: 55px;
    min-height: 55px;
    padding-left: 1em;
    color: #FCFAF2;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    z-index: 4;
}

#app-header > h1 {
    height: 55px;
    line-height: 55px;
}

#app-header .fa {
    line-height: 55px;
    padding-right: .5em;
}

/* ---------------- App main body ---------------- */
#app-body {
    top: 55px;
    bottom: 0;
}

/* split main body into 3 columns, 1/5 and 1/5 for two menus, 3/5 for content pane*/
.app-body-col-1-5 {
    position: relative;
    height: 100%;
    width: 20%;
    min-width: 20%;
    float: left;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3); 
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3); 
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3); 
}

.app-body-col-3-5 {
    position: relative;
    height: 100%;
    width: 60%;
    min-width: 60%;
    float: left;
    z-index: 1;
}

.app-body-task-category {
    z-index: 3;
}

.app-body-task-list {
    z-index: 2;
}

/* category treeview */
#app-category-treeview-holder {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    width: 100%;
    overflow-y: auto;
}

.app-category-treeview-title-1 {
    height: 48px;
    line-height: 48px;
    padding-left: .5em;
}

.app-category-treeview-title-2 {
    height: 48px;
    padding-left: 1em;
}

.app-category-treeview-title-3 {
    height: 38px;
    padding-left: 2em;
}

.app-category-title {
    width: 100%;
    display: table;
    vertical-align: middle;
    -webkit-transition: background-color .2s, color .1s ease;
    transition: background-color .2s, color .1s ease;
}

.app-category-title > span {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.app-category-title:hover {
    background-color: #A8D8B9;
    color: #FCFAF2;
    cursor: pointer; 
}

/* menu collapse style */
.app-menu-collapse {
    height: 0;
    overflow: hidden;
}

/* font icon style */
.fa-folder, .fa-tasks, .fa-folder-open {
    padding-right: .3em;
}

/* Right category menu */
/* Task list */
.app-task-descr-list {
    /*z-index: 1;*/
}

.app-task-status-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
}

.app-task-status-btn {
    float: left;
    height: 45px;
    width: 33.333%;
    font-size: .95em;
    color: #4A593D;
    padding: 0;
    background: none;
    border: none;
    -webkit-transition: background-color .2s, color .1s ease;
    transition: background-color .2s, color .1s ease;
}

.app-task-status-btn:hover {
    background-color: #A8D8B9;
    color: #fff;
    cursor: pointer;
}

.app-active-btn {
    float: left;
    height: 45px;
    width: 33.333%;
    font-size: .9em;
    padding: 0;
    border: none;
    background-color: #5DAC81;
    color: #fff;
    cursor: pointer;
}

#app-task-list {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 50px;
    width: 100%;
    overflow-y: auto;
}

.app-task-item-date {
    background-color: #A8D8B9;
    color: #fff;
    cursor: pointer; 
    padding-left: 2em; 
    height: 35px;
    line-height: 35px;
}

.app-task-spec-list {
    padding-left: 2em;
}

.app-task-spec-list > li {
    height: 30px;
    line-height: 30px;
    font-size: .9em;
    padding-left: 1.2em;
}

.app-task-spec-list > li:hover {
    color: #5DAC81;
    cursor: pointer;
}

.app-task-done {
    text-decoration: line-through;
}

/* bottom buttons */
.app-new-category-btn, .app-new-task-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: none;
    box-sizing: border-box;
    color: #FCFAF2;
    font-size: 1em;
    background-color: #5DAC81;
    -webkit-transition: background-color .2s, color .2s ease;
    transition: background-color .2s, color .2s ease;
}

.app-new-category-btn:hover, .app-new-task-btn:hover {
    cursor: pointer;
    background-color: #24936E;
}

/* most right input area */
#app-task-spec-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);  
}

#app-task-spec-title > li {
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #FCFAF2;
    background-color: #A8D8B9;
}

#app-task-spec-title > li > h3 {
    float: left;
    font-size: 1.1em;
    padding-left: 1em;
}

#app-task-spec-title > li > p {
    float: left;
    padding-left: 1em;
}

#app-task-spec-title > li > span {
    float: right;
    font-size: 1.5em;
}

#app-task-spec-title a:hover {
    cursor: pointer;
    color: #4A593D;
}

fa-check-square-o, fa-pencil-square-o {
    cursor: pointer;
}

.fa-check-square-o {
    margin-right: 5px;
}

.fa-pencil-square-o {
    margin-right: 25px;
}

/* textarea, task content editor */
#app-task-content {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
}

#app-task-content > textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 1.3em;
    color: #4A593D;
    resize: none;
}



