@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.calendar .calendar-weekday-header {
  *zoom: 1; }
  .calendar .calendar-weekday-header:before, .calendar .calendar-weekday-header:after {
    content: " ";
    display: table; }
  .calendar .calendar-weekday-header:after {
    clear: both; }

.calendar .calendar-nav-button:after, .calendar .calendar-title:after, .calendar .calendar-day span, .calendar .calendar-day span:before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%; }

.calendar .calendar-nav-button, .calendar .calendar-title {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1; }
  .calendar .calendar-nav-button:after, .calendar .calendar-title:after {
    width: 200%;
    height: 200%;
    -webkit-transition: width 1s, height 1s, opacity 1.3s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: width 1s, height 1s, opacity 1.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 1s, height 1s, opacity 1.3s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.8);
    display: block;
    opacity: 0;
    z-index: -1; }
  .calendar .calendar-nav-button:active:after, .calendar .calendar-title:active:after {
    width: 0;
    height: 0;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
    opacity: .4; }

.calendar {
  margin: 0 auto;
  position: relative;
  max-width: 768px;
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  opacity: 1; }
  .calendar * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-size: 13px; }
  .calendar ul, .calendar ol, .calendar dl {
    list-style: none;
    padding: 0;
    margin: 0 auto; }
  .calendar h1, .calendar h2, .calendar h3 {
    margin: 0;
    font-size: 15px; }
  .calendar .calendar-pane {
    position: relative;
    padding: 0 8px; }
  .calendar .calendar-view-wrap {
    position: relative;
    overflow: hidden; }
  .calendar .calendar-prev-view,
  .calendar .calendar-curr-view,
  .calendar .calendar-next-view {
    width: 100%;
    height: 100%;
    -webkit-transition: transform, 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: transform, 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform, 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; }
  .calendar .calendar-prev-view {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); }
  .calendar .calendar-next-view {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%); }

.calendar .calendar-header {
  position: relative;
  padding: 0 8px;
  background: #0097a7;
  color: #FFFFFF;
  text-align: center; }

.calendar .calendar-nav-button {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 12px;
  position: absolute;
  top: 0;
  vertical-align: middle;
  background: none;
  display: block; }
  .calendar .calendar-nav-button:hover {
    cursor: pointer; }

.calendar .calendar-nav-prev-button {
  left: 0; }

.calendar .calendar-nav-next-button {
  right: 0; }

.calendar .calendar-nav-icon {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  fill: currentColor;
  display: inline-block; }

.calendar .calendar-title {
  width: 100%;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0.1em; }
  .calendar .calendar-title:hover {
    cursor: default; }
  .calendar .calendar-title:after {
    width: 320px;
    height: 320px; }

.calendar .calendar-date-view {
  width: 100%;
  height: 100%; }

.calendar .calendar-weekday-header {
  text-align: center;
  text-transform: uppercase;
  opacity: .8; }
  .calendar .calendar-weekday-header > li {
    float: left; }

.calendar .calendar-day {
  position: relative;
  text-align: center; }
  .calendar .calendar-day span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0 auto;
    z-index: 10; }
  .calendar .calendar-day span:before {
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    content: "";
    background: rgba(0, 151, 167, 0.5);
    opacity: 0;
    z-index: -1; }
  .calendar .calendar-day:hover {
    cursor: pointer; }
  .calendar .calendar-day.selected span,
  .calendar .calendar-day:hover span {
    color: #FFFFFF; }
  .calendar .calendar-day.selected span:before {
    -webkit-transition: 0;
    -moz-transition: 0;
    transition: 0;
    width: 100%;
    height: 100%;
    background: #0097a7;
    opacity: 1; }
  .calendar .calendar-day:hover span:before {
    width: 100%;
    height: 100%;
    opacity: 1; }

.calendar .calendar-today span {
  color: #0097a7; }

.calendar .calendar-prev-month-day span,
.calendar .calendar-next-month-day span {
  color: rgba(0, 0, 0, 0.5); }
