*,
*:before,
*:after {
    box-sizing: border-box;
}

/***----- body style ----***/
body {
    background: #035671;
    font-family: 'Open Sans', sans-serif;
}

i, 
.login-form li,
.submit input[type="submit"] {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/***---- contents style ----***/
h1 {
    text-align: center;
    font-size: 2.7em;
    color: #fff;
    padding: 1em;
}

.login {
    margin: 2% auto;
    width: 30%;
    background: #fcfcfc;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -o-border-radius: .5em;
    border-radius: .5em;
}

.login-form {
    padding: 10% 4% 6% 4%;
}

.login-form ul {
    list-style-type: none;
}

.login-form li {
    width: 100%;
    font-weigth: 500;
    border: 1px solid #ccc;
    background: #fff;
    margin: 1em 0;
}

input[type="text"],
input[type="password"] {
    width: 83%;
    padding: 1em 0 1em 2.7em;
    font-size: 15px;
    font-weight: 500;
    color: #858282;
    background: none;
    border: none;
    outline: none;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: -28px;
    padding-right: 35px;
    display: inline-block;
    border-right: 1px solid #999;
}

.user-icon {
    background: url(../image/user.png) no-repeat 8px;
}

.psw-icon {
    background: url(../image/lock.png) no-repeat 8px;
}

.submit input[type="submit"] {
    width: 100%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 21px 20px;
    /*  ignore -webkit- -o- -moz- for border-radius here "(￣▽￣)"""*/
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em; 
    
    background: #00bffe;
}

.submit input[type="submit"]:hover {
    background: #ffa300;
}

/***---- ribbon ----***/
.ribbon-wrapper {
    position: relative;
}

.ribbon-text-part h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    padding: 7px 9px 5px 27px;
}

.ribbon-text-part {
    position: relative;
    width: 145px;
    height: 44px;
    left: -10px;
    top: 22px;
    background: #ffa300;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3) 0 3px 5px rgba(0, 0, 0, .1);
    z-index: 1;
}

.ribbon-right-part {
    position: relative;
    width: 0;
    height: 0;
    left: 135px;
    top: -22px;
    margin-bottom: -44px;
    border-width: 22px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #ffa300;
    z-index: 1;
}

.ribbon-left-part {
    position: relative;
    width: 0;
    height: 0;
    left: -22px;
    top: 10px;
    margin-bottom: -12px;
    border-width: 12px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #e17e02 transparent transparent;
    z-index: -1;
}

/***---- footer ----***/
footer {
    color: #fcfcfc;
    width: 100%;
    margin: 5% auto;
    text-align: center;
}

/*responsive*/
@media screen and (max-width: 320px) {
    body h1 {
        font-size: 1.7em;
    }
    .login {
        width: 90%;
    }
    
    input[type="text"],
    input[type="password"] {
        font-size: 13px;
    }
    
    .submit input[type="submit"] {
        font-size: 18px;
        padding: 18px 18px;
    }
}

@media screen and (min-width:321px) and (max-width: 480px) {
    .login {
        width: 87%;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    .login {
        width: 75%;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    .login {
        width: 50%;
    }
}


@media screen and (min-width: 1281px) {
    .login {
       width: 400px; 
    }
} 