/* =============================
responsive layout					
================================*/

.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.container-col {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

/* media queries */
@media screen and (min-width: 1200px) {
	.col-xl-1-4 {
		flex: 0 0 25%;
	}

	.col-xl-1-3 {
		flex: 0 0 33.33333%;
	}

	.col-xl-1-2 {
		flex: 0 0 50%;
	}
}

@media screen and (min-width: 970px) and (max-width: 1200px) {
	.col-lg-1-4 {
		flex: 0 0 25%;
	}
	
	.col-lg-1-3 { 
		flex: 0 0 33.33333%;
	}

	.col-lg-1-2 {
		flex: 0 0 50%;
	}
}

@media screen and (min-width: 750px) and (max-width: 970px) {
	.col-md-1-3 {
		flex: 0 0 33.33333%;
	}

	.col-md-1-2 {
		flex: 0 0 50%;
	}

	.col-md-1-1 {
		flex: 0 0 100%;
	}
}

@media screen and (max-width: 750px) {
	.col-sm-1-1 {
		flex: 0 0 100%;
	}
}

/* =============================
general style					
================================*/
*, 
*:before, 
*:after {
	box-sizing: border-box;
}

.main-section {
	min-height: 300px;
}

.feature {
	background-color: #123;
	color: #fff;
}

.work {
	background: #ddd;
	color: #fff;
}

.team {
	background-color: #333;
	color: #fff;
}


/* =============================
banner					
================================*/
#banner {
	background-color: #ccc;
	min-height: 750px;
}


/* =============================
features
================================*/
#features {
	background-color: #aaa;
}

/* =============================
works				
================================*/
#works {
	background-color: #ccc;
}

/* =============================
team
================================*/
#team {
	background-color: #aaa;
}

/* =============================
testimonials					
================================*/
#testimonials {
	background-color: #ccc;
}

/* =============================
download					
================================*/
#download {
	background-color: #aaa;
}

/* =============================
main footer
================================*/
#main-footer {
	background-color: #ccc;
	min-height: 200px;
}