<section ng-controller="driverController">
    <a href="./#/drivers">Back to drivers list</a>
    <ul class="list-group">
        <li class="list-group-item">Name: {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</li>
        <li class="list-group-item">Country: {{driver.Driver.nationality}}</li>
        <li class="list-group-item">Team: {{driver.Constructors[0].name}}</li>
        <li class="list-group-item">Birth: {{driver.Driver.dateOfBirth}}</li>
        <li class="list-group-item">Details: <a href="{{driver.Driver.url}}" target="_blank">Biography</a></li>
    </ul>
    <div class="main-content">
        <table class="table table-hover">
            <caption>Formula 1 2015 Results</caption>
            <thead>
                <tr>
                    <td>Round</td>
                    <td>Grand Prix</td>
                    <td>Team</td>
                    <td>Grid</td>
                    <td>Race</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="race in races">
                    <td>{{race.round}}</td>
                    <td>{{race.raceName}}</td>
                    <td>{{race.Results[0].Constructor.name}}</td>
                    <td>{{race.Results[0].grid}}</td>
                    <td>{{race.Results[0].position}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
