*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 12px/1.225 Arial, Helvetican, sans-serif;
    background: #fcfcfc;
}

#outer {
    margin: 0 auto;
    height: 303px;
    background: #fcfcfc url("../img/banner-bg-red.jpg") repeat-x; 
}

#content-wrapper {
    margin: 0 auto;
    height: 303px;
    width: 980px;
}

/*=== Main image banner style ===*/
#image-banner {
    position: relative;
    width: 757px;
    height: 303px;
    
    display: inline-block;
    overflow: hidden;
}

#image-item-list {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px auto;
    width: 20000px;
    list-style-type: none;
}

.image-item-wrapper {
    position: relative;
    margin-right: 23px;
    float:left;
}

/*=== for image banner list ===*/
.image-item-link {
    margin: 0;
    width: 237px;
    height: 163px;
    display: block;
}

/*=== for the text below image ===*/
.image-item-ref {
    width: 237px;
    height: 120px;
    
    padding: 10px 2px;
}

.image-item-ref-header {
    position: relative;
    margin-bottom: 10px;
}

.image-item-ref-header span {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fcfcfc;
    text-align: center;
    line-height: 40px;
    display: block;
}

.image-item-ref-header h4,
.image-item-ref-header h5 {
    position: relative;
    top: 0;
    left: 40px;
    width: 190px;
    padding-left: 10px;
}

.image-item-ref-header h4 {
    font-size: 16px;
    line-height: 1.4em;
    color: #fcfcfc;
}

.image-item-ref-header h5 {
    font-size: 13px;
    color: #ff7a01;
}

.image-item-ref-text {
    font-size: 15px;
    color: #fcfcfc;
}

/*=== start game button ===*/
.start-btn {
    position: absolute;
    bottom: 70px;
    right: 2px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: #ff7a01;
    display: none;
}

.start-btn a {
    text-decoration: none;
    color: #fcfcfc;
    line-height: 30px;
}

/*=== Aside image banner style ===*/
#aside-banner {
    width: 200px;
    height: 283px;
    margin-top: 20px;
    margin-left: 23px;
    display: inline-block;
    vertical-align: top;
    color: #fcfcfc;
    background: #333;
}

.aside-banner-header {
    width: 200px;
    height: 35px;
    margin: 0;
    text-align: center;
    background: -webkit-linear-gradient(to bottom, #666, #4f4f4f);
    background: -moz-linear-gradient(to bottom, #666, #4f4f4f);
    background: -o-linear-gradient(to bottom, #666, #4f4f4f);
    background: linear-gradient(to bottom, #666, #4f4f4f);

}

.aside-banner-header h3 {
    line-height: 35px;
    color: #fcfcfc;
    font-size: 16px; 
}

.aside-image-list {
    width: 200px;
    height: 248px;
    list-style-type: none;
    overflow: hidden;
}

/*=== list item ===*/
.aside-image-item-wrapper {
    position: relative;
    width: 200px;
    height: 82px;
    margin: 1px;
    background: #333;
}

.aside-image-item-wrapper:hover {
    background: #444;
}

/*=== link that wraps all contents ===*/
.aside-image-link {
    width: 200px;
    height: 82px;
    text-decoration: none;
    color: #fcfcfc;
    display: block;
    cursor: pointer;
}

/*=== image ===*/
.aside-image-item {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 76px; 
    height: 64px;
}

/*=== text ===*/
.aside-image-ref {
    position: absolute;
    top: 9px;
    left: 94px;
    width: 124px;
    height: 64px;
}

.aside-image-ref h4, 
.aside-image-ref h5 {
    line-height: 1.4em;
}

.aside-image-ref h4 {
    font-size: 15px;
}

.aside-image-ref h5 {
    font-size: 13px;
}

.aside-image-ref p {
    font-size: 13px;
    line-height: 2em;
    color: #ff7a01;
}

/*=== nav arrow overlaps image banner ===*/
#nav-arrow {
    position: relative;
    width: 757px;
    top: 65px;
    left: 0;
    display: none;
/*    background: red;*/
}

#left-arrow {
    position: absolute;
    margin: 0;
    width: 65px;
    height: 65px;
    left: 0;
    cursor: pointer;
    background: url("../img/banner-arrow.png") 0 -210px;
    background-size: cover;
}

#right-arrow {
    position: absolute;
    margin: 0;
    width: 65px;
    height: 65px;
    right: 0;
    cursor: pointer;
    background: url("../img/banner-arrow.png") 4px -145px;
    background-size: cover;
}