// Font families
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;


// Font size
$fontSizeSmall: 12px;
$fontSize: 14px;
$fontSizeLarge: 16px;
$fontSizeXLarge: 18px;
$fontSizeXXLarge: 22px;


// Colors
$primaryColor: #fff;
$headerColor: #2189C0;

$activeColor: #fff;
$inactiveColor: #eee;

$darkGrey: #2B2E3D;
$grey: #373D4D;
$lightGrey: #D3D3D3;

$white: #FFF;
$milk: #FCFCFC;
$orange: #FF4500;

$highlight: rgba(0, 0, 0, .2);


// Components size
$headerHeight: 50px;

// Layout
$minWidth: 640px;

$gridColumnsS: 3;
$gridColumns: 4;
$gridColumnsL: 5;

$listItemGap: 16px;
$listItemIndent: 16px;

$topNavHeight: 33px;
