*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 15px/1.2 "Helvetica", arial, nimbussansl, sans-serif;
}

a {
    text-decoration: none;
}

/**=== most outer wrapper ===**/
.msg-board {
    margin: 10px auto;
    width: 500px;
    min-width: 500px;
    border-radius: 5px;
    background: #fcfcfc;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .4), 0 3px 12px rgba(0, 0, 0, .1);
}

/**=== user input area ===**/
.msg-form {
    padding: 10px 15px; 
    background: #fcfcfc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: aliceblue;
}

.input-area {
    padding-bottom: 5px;
}

.input-area>h2 {
    font-size: 1.2em;
    color: #666;
    padding-bottom: 10px;
}

/**=== input for username and head icons ===**/
.username {
    padding: 3px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #999;
    outline: none;
}

.icon-group {
    display: inline-block;
    padding: 0;
    width: 180px;
    height: 25px;
    margin-left: 10px;
    list-style-type: none;
    vertical-align: middle;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.icon>img {
    width: 25px;
    height: 25px;
    opacity: 0.5;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.icon>img:hover {
    border: 1px solid #f60;
    opacity: 1;
}

.icon>img.active {
    border: 1px solid #f60;
    opacity: 1;
}

/**=== input for message ===**/
.text-area {
    padding-bottom: 5px;
}

.msg-text {
    width: 100%;
    height: 50px;
    resize: none;
    border-radius: 4px;
}

.text-area>p {
    padding: 5px 5px 5px 165px;
    display: inline-block;
}

.text-area>p>span {
    font: 20px/25px Georgia, Tahoma, Arial;
}


/**=== send button ===**/
.send-btn {
    width: 100px;
    height: 30px;
    background: #0e78e7;
    border: none;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.send-btn:hover {
    background: #259;
}


/**=== message list ===**/
.msg-group {
    padding: 5px 15px 12px 15px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.msg-group>h3 {
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    background: #e3eaec;
    border: 1px solid #dee4e7;
}

.msg-group>h3>span {
    background: #fff;
    line-height: 28px;
    display: inline-block;
    margin: 5px 0 0 6px;
    padding: 0 15px;
}

.empty {
    display: none;
}

.msg-list {
    list-style-type: none;
}

.msg-item {
    padding: 10px 6px;
    border-bottom: 1px solid #dee4e7;
}

.user-icon {
    margin-right: 6px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.user-msg {
    width: 398px;
    padding-top: 3px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
}

.user-id {
    color: #2b4a78;
    display: inline-block;
    padding-right: 6px;
}

.user-id:hover {
    text-decoration: underline;
}

.msg-content {
    display: inline-block;
    padding-bottom: 7px;
}

.msg-item-hover {
    background: #eee;
}

.time {
    color: #889db6;
    font: 13px/18px arial;
    overflow: hidden;
}

.del {
    float: right;
    color: #889db6;
    opacity: 1;
}

.del:hover {
    text-decoration: underline;
}