<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone-test-1</title>
	<style>
		#info {
			margin: 0;
			padding: 0;
			background-color: #ccc;
			font-size: 14px;
		}

		#info li:hover {
			cursor: pointer;
			background-color: #333;
			color: #fff;
		}
	</style>
</head>
<body>
	<ul id="info">
		<script type="text/template" id="info-template">
		<% _.each(data, function(item) { %>
			<li><%- item.name || item.city + ', ' + (item.state ? item.state + ', ' : '') + item.state_name || item.country_name %></li>
		<% }); %>
		</script>
	</ul>
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore.min.js"></script>
	<script src="js/lib/backbone.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>