<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Backbone weather app</title>
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="styles/app-w.css">
</head>
<body>
	<div id="app-container">
		<header>
			<h1>Simple weather app</h1>
		</header>
		<section id="edit">
			<input type="text" value="" placeholder="Enter a city name" id="city-edit">
			<div class="btn-wrapper">
				<button id="search-btn">Search</button>
				<button id="add-btn">Add</button>
			</div>
			<ul id="suggest" class="">
				<script type="text/template" id="suggest-template">
					<% _.each(results, function(item) { %>
					    <li>
					    	<%= item.error || ((item.name || item.city) + (item.state ? ', ' + item.state : '') + ', ' + (item.country_name || item.country)) %>
					    </li>
					<% }); %>
				</script>
			</ul>
		</section>
		<section id="list">
			<h3>Cities</h3>
			<ul id="cities">
				<script type="text/template" id="list-template">
					<% _.each(collection, function(model) { %>
					    <li class="city">
					    	<span>
					    		<%= (model.location.city || model.current_observation.display_location.city) + (model.location.state ? ', ' + model.location.state : '') + ', ' + model.location.country_name %>
					    	</span>
					    	<a href="#" class="remove">Remove</a>
					    	<a href="#" class="update">Update</a>
					   	</li>
					<% }); %>
				</script>
			</ul>
            <div id="result">
                <ul class="clearfix">
					<script type="text/template" id="result-template">
						<li><%- model.localTime %></li>
						<li><%- model.current_observation.temp_c %>&#8451;</li>
						<li>
							<img src="<%- model.current_observation.icon_url %>" alt="<%- model.current_observation.icon %>">
							<span><%- model.current_observation.weather %></span>
						</li>
					</script>
                </ul>
            </div>
		</section>
		<section id="footer">
			<p>Data provided by <a href="http://www.wunderground.com/">Weather Underground</a></p>
		</section>
	</div>

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore.min.js"></script>
	<script src="js/lib/backbone.min.js"></script>
	<script src="js/lib/backbone.localStorage.min.js"></script>
	<script src="js/app-w.js"></script>
</body>
</html>
